html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#mapcontainer {
    width: 100%;
    height: 100vh;
    position: relative;
}
/* Header styles*/
#map-header {
  display: none;
position: absolute;
  top: 16px;
  left: 16px;
  z-index: 2;
  background: rgba(207, 205, 205, 0.92);
  padding: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.12);
  max-width: 500px;
  line-height: 10px;
}
#map-header h1 {
  margin: 2px 0 8px 0;
  font-size: 1.4rem;
  font-family: "Lekton", monospace;
  color: black;
  text-align: center;
}
/* Modal styles */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10000;
}

.modalcontent {
    background: #ceccccec;
    opacity: 0.85;
    padding: 40px;
    max-width: 600px;
    position: relative;
    max-height: 80vh;
    overflow-y: auto;
    font-family: "Lekton", monospace;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.18);
}

.modalcontent p {
    margin: 0 0 12px;
    font-size: 15px;
    line-height: 1.6;
}

.modalh1 {
    margin: 0 0 16px;
    font-size: 40px;
    line-height: 1.2;
    text-align: left;
    font-family: "Noto Serif SC", serif;
}

.modalh2 {
    margin: 0 0 16px;
    font-size: 35px;
    text-align: right;
    font-family: "Noto Serif SC", serif;
}

.modalbody {
    padding-top: 20px;
    font-size: 15px;
}

.modalbtn {
    margin-top: 16px;
    width: 100%;
    background: #282a2b;
    color: #ffffff;
    border: none;
    padding: 12px;
    font-family: "Lekton", monospace;
    font-size: 20px;
    cursor: pointer;
}

.modalbtn:hover {
    background: #dc2932;
}
/* markers styles */
.custom-marker-16c{
 background-image: url('custommarkers/chinese-knot-blue.png');
  background-color: transparent;
 background-size: cover;
  width: 35px;
  height:35px;
  cursor: pointer;
}
.custom-marker-18c{
 background-image: url('custommarkers/chinese-knot-purple.png');
  background-color: transparent;
 background-size: cover;
  width: 35px;
  height:35px;
  cursor: pointer;
}
.custom-marker-19c{
 background-image: url('custommarkers/chinese-knot-red.png');
  background-color: transparent;
 background-size: cover;
  width: 35px;
  height:35px;
  cursor: pointer;
}
.custom-marker-20c{
 background-image: url('custommarkers/chinese-knot-gold.png');
  background-color: transparent;
 background-size: cover;
  width: 35px;
  height:35px;
  cursor: pointer;
}
.custom-marker-21c{
 background-image: url('custommarkers/chinese-knot-green.png');
  background-color: transparent;
 background-size: cover;
  width: 35px;
  height:35px;
  cursor: pointer;
}

/* legend*/ 
.map-legend {
    display: none;
    position: absolute;
    right: 20px;
    bottom: 30px;
    background: rgba(207, 205, 205, 0.92);
    color: #222;
    padding: 12px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.18);
    font-family: "Lekton", monospace;
    max-width: 200px;
    z-index: 1000;
}
.map-legend .legend-title {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 14px;
}
.map-legend .legend-item {
    position: flex;
    display: flex;
    gap: 10px;
    margin-bottom: 8px;
}

.map-legend .legend-icon {
    display: flex;
    width: 18px;
    height: 18px;
    background-color: transparent;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

/*legend images*/
.map-legend .legend-icon.legend-marker-16c {
    background-image: url('custommarkers/chinese-knot-blue.png');
}
.map-legend .legend-icon.legend-marker-18c {
    background-image: url('custommarkers/chinese-knot-purple.png');
}
.map-legend .legend-icon.legend-marker-19c {
    background-image: url('custommarkers/chinese-knot-red.png');
}
.map-legend .legend-icon.legend-marker-20c {
    background-image: url('custommarkers/chinese-knot-gold.png');
}
.map-legend .legend-icon.legend-marker-21c {
    background-image: url('custommarkers/chinese-knot-green.png');
}

/* popup style */
.mapboxgl-popup-content {
    font-family: "Lekton", monospace;
    background: #e1e1e0 !important;
    border: 1.5px solid #dc2932;
    border-radius: 8px;
    box-shadow: 0 8px 24px rgba(0,0,0,0.6);
    min-width: 200px;
}
.popuph1 {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    padding-top:none;
}
.popupbody {
    padding-top:2px;
    font-size: 12px;
    line-height: 1;
    margin-top: 5px;
}
/*Hidden content */